In [16]:
# yasserh/titanic-dataset
import pandas as pd


file_path = "../data/Titanic-Dataset.csv"

try:
    df = pd.read_csv(file_path)
except FileNotFoundError:
    print("error opening file")
    
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [17]:
most_frequent_embarked = df['Embarked'].mode()[0]
print(f"! - {most_frequent_embarked}")

# inplace=True (изменения прям к df)
# df['Embarked'].fillna(most_frequent_embarked, inplace=True)

df.fillna({'Embarked': most_frequent_embarked}, inplace=True)

df.info()

! - S
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [18]:
median_age = df['Age'].median()
print(f"! - {median_age}")

# старый (лучше отказаться)
# df['Age'].fillna(median_age, inplace=True)
# новый
df.fillna({'Age': median_age}, inplace=True)

df.info()

! - 28.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [19]:
sex_mapping = {'male' : 0, 'female' : 1}

df['Sex'] = df['Sex'].map(sex_mapping)

df['Has_Cabin'] = df['Cabin'].notna().astype(int)

df.drop(['Cabin', 'Name', 'Ticket'], axis=1, inplace=True)

df = pd.get_dummies(df, columns=['Embarked'], drop_first=True)

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    int64
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Has_Cabin    891 non-null    int64
 9   Embarked_Q   891 non-null    bool
 10  Embarked_S   891 non-null    bool
dtypes: bool(2), float64(2), int64(7)
memory usage: 64.5 KB

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Has_Cabin,Embarked_Q,Embarked_S
0,1,0,3,0,22.0,1,0,7.2500,0,False,True
1,2,1,1,1,38.0,1,0,71.2833,1,False,False
2,3,1,3,1,26.0,0,0,7.9250,0,False,True
3,4,1,1,1,35.0,1,0,53.1000,1,False,True
4,5,0,3,0,35.0,0,0,8.0500,0,False,True